@font-face
{
    font-family: Gidole;
    src: url(gidole.ttf);
}

body
{
    margin: 0;

    color: white;
    font-family: Gidole, sans-serif;
    
    background: repeat fixed url("bg.svg");
}

#gallery
{
    height: 100vh;
    overflow-y: scroll;

    text-align: center;
}
#gallery h2
{
    display: inline-block;
    
    margin: 5px;
    padding: 0;
    
    font-weight: normal;
    font-size: 270%;

    border-bottom: 10px solid white;
}
#gallery canvas
{
    margin: 5px;
}